@model IEnumerable<Fall2024_Assignment3_mtorres3.Models.MovieActor>

@{
    ViewData["Title"] = "Index";
}

<h1>Movie-Actor Relationships</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Movie.Poster != null)
                {
                    // Embed photo in page; good for security but bad for speed
                    var base64 = Convert.ToBase64String(item.Movie.Poster);
                    var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src="@imgSrc" height="70" width="70" style="border-radius:50%" />
                }
                else
                {
                    @Html.DisplayText("No photo found")
                }
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @if (item.Actor.Photo != null)
                {
                    // Embed photo in page; good for security but bad for speed
                    var base64 = Convert.ToBase64String(item.Actor.Photo);
                    var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src="@imgSrc" height="70" width="70" style="border-radius:50%" />
                }
                @Html.DisplayFor(modelItem => item.Actor.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
