@model Fall2024_Assignment3_mtorres3.Models.ActorDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Photo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Actor.Photo != null)
            {
                // Embed photo in page; good for security but bad for speed
                var base64 = Convert.ToBase64String(Model.Actor.Photo);
                var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                <img src="@imgSrc" height="100" width="100" style="border-radius:50%" />
            }
            else
            {
                @Html.DisplayText("No Photo Available")
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.IMDBHyperlink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.IMDBHyperlink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Actor.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>



<h3>Actor Tweets</h3>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Actor.Tweets)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Actor.Tweets.FirstOrDefault().Positive)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Actor.Tweets.FirstOrDefault().Negative)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Actor.Tweets.FirstOrDefault().Neutral)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Actor.Tweets.FirstOrDefault().Compound)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Actor.Tweets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Positive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Negative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neutral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compound)
            </td>
            <td>
                <a asp-controller="ActorTweets" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-controller="ActorTweets" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-controller="ActorTweets" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<h3>Movies</h3>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @if (item.Poster != null)
                    {
                        // Embed photo in page; good for security but bad for speed
                        var base64 = Convert.ToBase64String(item.Poster);
                        var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@imgSrc" height="50" width="50" style="border-radius:50%" />
                    }
                    else
                    {
                        @Html.DisplayText("No poster found")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-controller="Movies" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-controller="Movies" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>